.cabecalho{
    background-color:#FFFDF0;
    display: flex;
    flex-direction: row;
}
.cabecalho h1{
    color:#BE2233;
}
.barra-pesquisa #texto-busca{
    background-color:#F4D9D2;
    border-radius: 5px;
}